## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Castro,BR,-24.7911,-50.0119,65.25,71,11,4.74,few clouds
1,1,Sidney,AU,-33.8679,151.2073,55.40,47,20,17.27,few clouds
2,2,Khatanga,RU,71.9667,102.5000,16.11,84,98,11.25,overcast clouds
3,3,Bluff,NZ,-46.6000,168.3333,55.99,97,31,8.01,scattered clouds
4,4,Avarua,CK,-21.2078,-159.7750,82.40,78,35,6.91,moderate rain

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 100

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(5)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Avarua,CK,-21.2078,-159.7750,82.40,78,35,6.91,moderate rain
6,6,Monywa,MM,22.1167,95.1333,86.18,34,8,5.35,clear sky
7,7,Hilo,US,19.7297,-155.0900,80.60,44,1,11.50,clear sky
8,8,Rikitea,PF,-23.1203,-134.9692,78.30,74,7,8.19,light rain
10,10,Taoudenni,ML,22.6783,-3.9836,87.93,13,0,7.76,clear sky

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                301
City                   301
Country                297
Lat                    301
Lng                    301
Max Temp               301
Humidity               301
Cloudiness             301
Wind Speed             301
Current Description    301
dtype: int64

In [7]:
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                4
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
new_df = preferred_cities_df.dropna()
new_df.head(20)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Avarua,CK,-21.2078,-159.7750,82.40,78,35,6.91,moderate rain
6,6,Monywa,MM,22.1167,95.1333,86.18,34,8,5.35,clear sky
7,7,Hilo,US,19.7297,-155.0900,80.60,44,1,11.50,clear sky
8,8,Rikitea,PF,-23.1203,-134.9692,78.30,74,7,8.19,light rain
10,10,Taoudenni,ML,22.6783,-3.9836,87.93,13,0,7.76,clear sky
11,11,Japura,ID,-0.3167,102.3500,72.41,99,80,2.08,light rain
17,17,Puerto Ayora,EC,-0.7393,-90.3518,80.60,78,40,9.22,scattered clouds
18,18,Richards Bay,ZA,-28.7830,32.0377,72.00,95,6,6.44,clear sky
20,20,Najran,SA,17.4924,44.1277,77.00,18,20,5.35,few clouds
25,25,Luganville,VU,-15.5333,167.1667,80.44,76,91,1.41,overcast clouds
28,28,Atuona,PF,-9.8000,-139.0333,80.56,78,17,17.67,few clouds
36,36,Kapaa,US,22.0752,-159.3190,77.00,61,75,16.11,light rain
40,40,Kieta,PG,-6.2167,155.6333,82.44,69,95,0.51,overcast clouds
42,42,East London,ZA,-33.0153,27.9116,70.84,85,100,3.13,overcast clouds
45,45,Mahebourg,MU,-20.4081,57.7000,77.00,94,75,6.91,broken clouds
49,49,Barra Patuca,HN,15.8000,-84.2833,83.79,76,1,16.20,clear sky
59,59,San Matias,BO,-16.3667,-58.4000,83.43,60,90,4.65,overcast clouds
60,60,Mahibadhoo,MV,3.7833,72.9667,82.54,71,12,5.06,few clouds
61,61,Bull Savanna,JM,17.8868,-77.5902,78.51,74,83,14.88,broken clouds
65,65,Padang,ID,-0.9492,100.3543,75.20,100,90,2.30,overcast clouds

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = new_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Avarua,CK,82.40,moderate rain,-21.2078,-159.7750,
6,Monywa,MM,86.18,clear sky,22.1167,95.1333,
7,Hilo,US,80.60,clear sky,19.7297,-155.0900,
8,Rikitea,PF,78.30,light rain,-23.1203,-134.9692,
10,Taoudenni,ML,87.93,clear sky,22.6783,-3.9836,
11,Japura,ID,72.41,light rain,-0.3167,102.3500,
17,Puerto Ayora,EC,80.60,scattered clouds,-0.7393,-90.3518,
18,Richards Bay,ZA,72.00,clear sky,-28.7830,32.0377,
20,Najran,SA,77.00,few clouds,17.4924,44.1277,
25,Luganville,VU,80.44,overcast clouds,-15.5333,167.1667,

In [ ]:
# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
        
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError): print("Hotel not found... skipping.")

In [15]:
hotel_df.tail()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
701,Ambilobe,MG,73.27,overcast clouds,-13.2000,49.0500,Ambilobe
703,Acarau,BR,79.57,overcast clouds,-2.8856,-40.1200,Acaraú
704,Esmeraldas,BR,75.20,clear sky,-19.7625,-44.3139,Esmeraldas
708,Santa Vitoria,BR,75.72,clear sky,-18.8386,-50.1214,Santa Vitória
709,Muana,BR,77.07,moderate rain,-1.5283,-49.2167,Muaná

In [12]:
# 7. Drop the rows where there is no Hotel Name.
len(hotel_df)

297

In [25]:
hotel_df.isnull().count()

City                   297
Country                297
Max Temp               297
Current Description    297
Lat                    297
Lng                    297
Hotel Name             297
dtype: int64

In [26]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [28]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [29]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))